.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    list-style-type: none; /* Removes default list bullets */
    padding: 0; /* Removes default padding */
    display: flex; /* This is crucial for horizontal alignment */
    justify-content: center; /* Center the pagination items horizontally */
    align-items: center; /* Center the pagination items vertically */
}
