.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li button {
    background-color: white;
    color: #007bff;
    border: 1;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.pagination li button:hover {
    background-color: #76a9ed;
}

.pagination li button:disabled {
    background-color: white;
    cursor: default;
}
